<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<header class="hero-unit blueHeader" id="banner">
  <div class="container">
    <img src="assets/images/pk_Icon_Weather_Hot_xxxhdpi.png" class="sun">
    <h3 class="text-left titleFont padTop" ng-show="tooHot()">It's Hot Out!</h3>
    <h5 class="text-left" ng-show="tooHot()">Make sure to keep the baby pirate hydrated with plenty of rum.</h5>
    <hr class="hrWidth"/>
    <div class="row-fluid">
      <img src="assets/images/pk_Icon_Temp_2x.png" class="col-lg-3 scaleDown tempImg" />
      <span class="col-lg-3 titleFont">Temp</span>
      <img src="assets/images/pk_Icon_Wind_2x.png" class="col-lg-3 scaleDown windImg" />
      <span class="col-lg-3 titleFont">Wind</span>
    </div>
    <div class="row-fluid">
      <span class="col-lg-6 temperature">{{weatherData.temp | number:0}}&degF</span>
      <span class="col-lg-6 wind">{{weatherData.wind | number:0}}mph</span>
    </div>
  </div>
</header>

<div class="container overflow">
  <div class="babyContainer">
    <div ng-activity-indicator ng-hide="weatherLoaded" class="col-sm-12 center" ng-style="{'left':'50%'}"></div>
    <div class="row-fluid" ng-show="weatherLoaded">
      <div class="col-sm-12" ng-style="{'margin': '0 auto', 'width': '80%'}">
        <img src="assets/images/bgGradient.png" class="scaleGrad">
        <span class="rotating"><img src="assets/images/pk_Ship.png" class="scaleShip"></span>
        <img src="assets/images/captainbaby_pkBaby_Static.png" class="babyPirate">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="actionBubble bg-primary" ng-click = "showBtn = !showBtn"><img src="assets/images/pk_BTN_Menu_2x.png" class="scaleMenu"></div>
      <div ng-repeat="action in actions" ng-show="showBtn" class="actionBubble bg-info"><span class="menuOptions" ng-class="action.class" ng-click="doAction(action.title)"></span></div>
    </div>
  </div>
</div>



<footer>
  <div class="row-fluid">
    <table class="table pirateTable">
      <tr>
        <td>Happiness: {{pirate.happiness | number: 0}}</td>
        <td>Hunger: {{pirate.hunger | number: 0}}</td>
        <td>Thirst: {{pirate.thirst | number: 0}}</td>
        <td>Energy: {{pirate.energy | number: 0}}</td>
      </tr>
    </table>
  </div>
</footer>
