.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.babyPirate {
  -webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
  position: relative;
  bottom: 2250px;
  right: 100px;
}

.blueHeader {
  background-color: #3a3d3c;
  padding-left: 5px;
  padding-right: 5px;
}

.horizontalLine {
  border-bottom:1px solid #cfcfcf;
}

.babyContainer {
  height: 300px;
}

.sun {
  float: left;
  padding-right: 10px;
  padding-top: 25px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}

* {
  font-family: 'Roboto', sans-serif !important;
}

.titleFont {
  font-family: 'Galindo', cursive !important;
}

.hrWidth {
  width: 275px;
  margin-top: 0;
  margin-bottom: 0;
}

.temperature {
  position: relative;
  right: 15px;
  bottom: 15px;
}

.wind {
  position: relative;
  left: 75px;
  bottom: 15px;
}

.scaleDown {
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  -o-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
}

.tempImg {
  position: relative;
  left: 25px;
  top: 8px;
}

.windImg {
  position: relative;
  top: 8px;
  left: 30px;
}

.scaleGrad {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  position: relative;
  bottom: 285px;
  right: 219px;
}

.scaleShip {
  -webkit-transform: scale(0.47);
  -moz-transform: scale(0.47);
  -o-transform: scale(0.47);
  -ms-transform: scale(0.47);
  transform: scale(0.47);
  position: relative;
  bottom: 1300px;
  right: 542px;
}

.actionBubble {
  position: relative;
  left: 110px;
  bottom: 30px;
  background-color: #3a3d3c;
}

.overflow {
  overflow: hidden;
}

.scaleMenu {
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  -o-transform: scale(0.65);
  -ms-transform: scale(0.65);
  transform: scale(0.65);
  position: relative;
  bottom: 4px;
}

.hideNav {
  display: none;
}

.padTop {
  padding-top: 15px;
}
